{% extends 'donuts/base.html' %}

{% load static %}

{% block content %}

    <section>
        <div class="container">

            <h1> Book a table in restaurant <i> {{ restaurant.name }} </i></h1>

            <form method="post">

                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-secondary" value="Book!">


            </form>
        </div>
    </section>

    <script src='{% static "js/scrolldown.js" %}'></script>
{% endblock %}